$header_background_color: #333;
$header_text_color: #FDFDFD;
$alternate_row_background_color: #DDD;

$table_width: 100%;
$table_body_height: 700px;

.fixedHeaders {
  width: $table_width;
  table-layout: fixed;
  border-collapse: collapse;
  
  th { 
      // border: 2px solid white;  
      text-decoration: underline;
      padding: 5px;
      text-align: center; 
  }
  
  td {
    // border: 2px solid black;  
    padding: 5px;
    text-align: right;
  }
  
  td:nth-child(1), th:nth-child(1) { width: 50px; }
  td:nth-child(2), th:nth-child(2) { width: 100px; }
  td:nth-child(3), th:nth-child(3) { width: 160px; }
  td:nth-child(4), th:nth-child(4) { width: 50px; }
  td:nth-child(5), th:nth-child(5) { width: 50px; }
  td:nth-child(6), th:nth-child(6) { width: 100px; }
  td:nth-child(7), th:nth-child(7) { width: 120px; }
  td:nth-child(8), th:nth-child(8) { width: 100px; }
  td:nth-child(9), th:nth-child(9) { width: 100px; }
  td:nth-child(10), th:nth-child(10) { width: 100px; }
  td:nth-child(11), th:nth-child(11) { width: 100px; }
  td:nth-child(12), th:nth-child(12) { width: 80px; }
  td:nth-child(13), th:nth-child(13) { width: 100px; }

  thead {
    background-color: $header_background_color;
    color: $header_text_color;
    tr {
      display: block;
      position: relative;
    }
  }
  tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: $table_body_height;
    tr:nth-child(even) {
      background-color: $alternate_row_background_color;
    }
  }
}